trigger:
  - master


stages:
  - stage: Build
    displayName: Build Package
    jobs: 
    - job: BuildPackage
      pool: Prince
      steps:    
      - task: UiPathPack@2
        inputs:
          versionType: 'AutoVersion'
          projectJsonPath: '$(Build.SourcesDirectory)\project.json'
          outputType: 'Process'
          orchestratorConnection: 'ConnectFin'
          outputPath: $(Build.ArtifactStagingDirectory)\Output
      - publish: $(Build.ArtifactStagingDirectory)\Output
        artifact: drop
      - task: CopyFiles@2
        inputs:
         sourceFolder: $(Build.ArtifactStagingDirectory)\Output
         targetFolder: $(projectPackagePath)
         CleanTargetFolder: True
        
  - stage: DeployQA
    displayName: Deploy build artifact to QA
    dependsOn: Build
    condition: succeeded()
    jobs:
     - job: DeployQA
       pool: Prince
       steps:
       - task: UiPathDeploy@2
         inputs:
          orchestratorConnection: 'ConnectFin'
          packagesPath: $(projectPackagePath)
          folderName: 'Shared'
          entryPoints: 'Main.xaml'

  - stage: QARun
    displayName: RunQA
    dependsOn: DeployQA
    condition: succeeded()
    jobs:
      - job: RunBot
        pool: Prince
        steps:
          - task: UiPathTest@2
            inputs:
              testTarget: 'TestSet'
              orchestratorConnection: 'ConnectFin'
              testSet: 'TestSet1'
              folderName: 'Shared'
              traceLevel: 'Verbose'
        
  
          