trigger:
  - master


stages:
  - stage: Build
    displayName: Build Package
    jobs: 
    - job: BuildPackage
      pool: Prince
      steps:    
      - task: UiPathPack@2
        inputs:
          versionType: 'AutoVersion'
          projectJsonPath: '$(Build.SourcesDirectory)\project.json'
          outputType: 'Process'
          orchestratorConnection: 'ConnectFin'
          outputPath: $(Build.ArtifactStagingDirectory)\Output
      - publish: $(Build.ArtifactStagingDirectory)\Output
        artifact: drop
      - task: CopyFiles@2
        inputs:
         sourceFolder: $(Build.ArtifactStagingDirectory)\Output
         targetFolder: $(projectPackagePath)
         CleanTargetFolder: True
        
  - stage: DeployDEV
    displayName: Deploy build artifact to DEV
    dependsOn: Build
    condition: succeeded()
    jobs:
     - job: DeployDev
       pool: Prince
       steps:
       - task: UiPathDeploy@2
         inputs:
          orchestratorConnection: 'ConnectFin'
          packagesPath: $(projectPackagePath)
          folderName: 'Shared'
          entryPoints: 'Main.xaml'

  - stage: QARun
    displayName: RunQA
    dependsOn: DeployDEV
    condition: succeeded()
    jobs:
      - job: RunBot
        pool: Prince
        steps:
          - task: UiPathTest@2
            inputs:
              testTarget: 'TestSet'
              orchestratorConnection: 'ConnectFin'
              testSet: 'TestSet1'
              folderName: 'Shared'
              traceLevel: 'Verbose'
        
  - stage: DeployPROD
    displayName: Deploy build artifact to PROD
    dependsOn: QARun
    condition: succeeded()
    jobs:
     - job: DeployPROD
       pool: Prince
       steps:
       - task: UiPathDeploy@2
         inputs:
          orchestratorConnection: 'ConnectFin'
          packagesPath: $(projectPackagePath)
          folderName: 'Prod'
          entryPoints: 'Main.xaml'     
          